In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import sklearn

In [3]:
data = pd.read_csv("../ML/Dataset Processed/crop_production_cleaned.csv")
data

,District_Name,Year,State_Name,Season,Crop,Area,Production,Rainfall,Yield,Temperature
0,Adilabad,2001,Telangana,Rabi,Sunflower,700.0,300.0,103.4,0.428571,24.191500
1,Adilabad,2001,Telangana,Rabi,Urad,700.0,300.0,103.4,0.428571,24.191500
2,Adilabad,2001,Telangana,Rabi,Wheat,2800.0,1600.0,103.4,0.571429,24.191500
3,Adilabad,2001,Telangana,Whole Year,Sugarcane,300.0,28800.0,1322.4,96.000000,27.897667
4,Adilabad,2001,Telangana,Whole Year,Tobacco,200.0,400.0,1322.4,2.000000,27.897667
...,...,...,...,...,...,...,...,...,...,...
164803,Zunheboto,2017,Nagaland,Kharif,Maize,10090.0,19950.0,1056.6,1.977205,22.526667
164804,Zunheboto,2017,Nagaland,Kharif,Mesta,210.0,220.0,1056.6,1.047619,22.526667
164805,Zunheboto,2017,Nagaland,Kharif,Moong(Green Gram),20.0,20.0,1056.6,1.000000,22.526667
164806,Zunheboto,2017,Nagaland,Kharif,Oilseeds total,8170.0,10170.0,1056.6,1.244798,22.526667
164807,Zunheboto,2017,Nagaland,Kharif,Groundnut,120.0,120.0,1056.6,1.000000,22.526667

In [4]:
data.head()
data = data[:10000]

In [5]:
data = data.drop(['State_Name','District_Name','Year','Yield'],axis=1)

In [6]:
data.head()

       Season       Crop    Area  Production  Rainfall  Temperature
0        Rabi  Sunflower   700.0       300.0     103.4    24.191500
1        Rabi       Urad   700.0       300.0     103.4    24.191500
2        Rabi      Wheat  2800.0      1600.0     103.4    24.191500
3  Whole Year  Sugarcane   300.0     28800.0    1322.4    27.897667
4  Whole Year    Tobacco   200.0       400.0    1322.4    27.897667

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Season       10000 non-null  object
 1   Crop         10000 non-null  object
 2   Area         10000 non-null  float64
 3   Production   10000 non-null  float64
 4   Rainfall     10000 non-null  float64
 5   Temperature  10000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 468.9+ KB

In [8]:
#handling missing data
data = data.dropna()

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Season       10000 non-null  object
 1   Crop         10000 non-null  object
 2   Area         10000 non-null  float64
 3   Production   10000 non-null  float64
 4   Rainfall     10000 non-null  float64
 5   Temperature  10000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 468.9+ KB

In [10]:
data.describe()

                Area    Production      Rainfall   Temperature
count   10000.000000  1.000000e+04  10000.000000  10000.000000
mean    16026.059200  6.335205e+04    445.336550     25.394501
std     51264.277414  3.945923e+05    437.130896      3.485550
min         1.000000  0.000000e+00      0.000000     14.578250
25%       103.000000  1.050000e+02     82.300000     23.183458
50%       930.000000  1.000000e+03    349.800000     26.491333
75%      6135.250000  1.100000e+04    670.300000     28.087000
max    877029.000000  1.023443e+07   3463.900000     31.834685

In [11]:
le = preprocessing.LabelEncoder()

crop = le.fit_transform(data.Crop)
Season = le.fit_transform(data.Season)

In [12]:
data['Crop'] = crop
data['Season']  = Season

In [13]:
data.head()

   Season  Crop    Area  Production  Rainfall  Temperature
0       2    70   700.0       300.0     103.4    24.191500
1       2    77   700.0       300.0     103.4    24.191500
2       2    80  2800.0      1600.0     103.4    24.191500
3       4    69   300.0     28800.0    1322.4    27.897667
4       4    73   200.0       400.0    1322.4    27.897667

In [14]:
#from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split

In [15]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [16]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=100)

In [17]:
from sklearn.model_selection import *
def train_and_evaluate(clf, X_train, y_train):
    
    clf.fit(X_train, y_train)
    
    print ("Coefficient of determination on training set:",clf.score(X_train, y_train))
    
    # create a k-fold croos validation iterator of k=5 folds
    cv = KFold(X_train.shape[0], 5, shuffle=True, random_state=33)
    scores = cross_val_score(clf, X_train, y_train, cv=cv)
    print ("Average coefficient of determination using 5-fold crossvalidation:",np.mean(scores))

## Random forest regression

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import  r2_score
model = RandomForestRegressor(n_estimators=11, random_state=1)
model.fit(X_train, Y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

print('R^2 train: %.3f, test: %.3f' % (
        r2_score(Y_train, y_train_pred),
        r2_score(Y_test, y_test_pred)))

R^2 train: 0.979, test: 0.888

In [25]:
model.score(X_test,Y_test)

0.8883181587938802